- if @ratings.exists?
  %table
    %thead
      %tr
        %th Book
        %th Rate
        %th User
        %th email

    %tbody
      - @ratings.each do |rating|
        %tr
          %td= link_to rating.book.title, book_path(rating.book)
          %td= rating.rate
          %td= rating.user.nickname
          %td= link_to rating.user.email, user_path(rating.user)