// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rating {
 float:left;
 vertical-align: bottom;
}

.rating {
  cursor: pointer;
}

/* replaces text button with star image  */
.rating:not(:checked) > input { 
}

 /* buttons to Numbers */
.rating:not(:checked) > label {
  float:right; width:1em; padding:0 .1em; 
  overflow:hidden; 
  white-space:nowrap; 
  cursor:pointer; 
  font-size:140%; 
  line-height:1.2; 
  color:#ddd;
}

.rating .selected:before {
  content: '\f005';
}

/* Replaces numbers with stars */    

.rating:not(:checked) > label:before {
  content: '★ '; 
}

.rating > input:checked ~ label {
  color: #f70; 
}

/* when on star buttons */
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
  color: gold; 
}

.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
 
/* The input is radio button on click to buttton will move cursor to different position will remain stay on the same position */
.rating:not(:checked) > input { 
  display: none; 
}

#takebook-section {
  width: auto;
  margin-right: 15px;
  clear: both;
  float: right;
}

.btn {
  display: inline;
  float: right;
  padding: 0px 2px;
  background: transparent !important;
  z-index: 222;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  border: 1px solid #7a7a7a;
  color: #878787;
  border-radius: 0px;
  letter-spacing: 2px;
  position: relative;
} 

.btn-success {
  color: #34B448 !important;
  border: 1px solid #7109aa;
  border-radius: 0px;
  letter-spacing: 2px;
  position: relative;
  &:hover {
    color: #fff !important;
    background-color: #34B448 !important;
  }
}

.btn-warning {
  color: #FFC300 !important;
  border: 1px solid #7109aa;
  border-radius: 0px;
  letter-spacing: 2px;
  position: relative;
  &:hover {
    color: #fff !important;
    background-color: #FFC300 !important;
  }
}

.btn-comments-delete {
  display: inline;
  float: right;
  margin: 0px 10px 10px;
  padding-top: 0;
  color: #a7a7a7;
  font-size: 10px;
  &:hover {
      color: #FF5733;
      line-height: auto;
      border: 1px solid #FF5733;
      border-radius: 2px;
    }
}

.btn-light {
  color: #a7a7a7 !important;
  font-size: 11px !important ;
  letter-spacing: 0 !important;
  margin-top: 0;
  &:hover {
      color: #7a7a7a !important;
      border: 1px solid #7a7a7a !important;
    }
}

.commenter {
  margin: 10px 0 1px 0;
  a {
    color: #a7a7a7;
    &:hover {
      color: #7109aa;
    }
  }
}

.comment-content {
  text-align: justify;
}

.btn-comments-delete {
  display: inline;
  float: right;
  margin: 0px 10px 10px;
  padding-top: 0;
  color: #a7a7a7;
  &:hover {
      color: #FF5733;
      line-height: auto;
      border: 1px solid #FF5733;
      border-radius: 2px;
    }
}

#comments-section {
  margin: 5px 0 0 0;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
  padding: 2px 0;
  font-size: 12px;
  font-family: monospace; 
  &.-expanded {
    max-height: 100vh;
  }
}

#history-section {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
  margin: 40px 0 10px 0;
  &.-expanded {
    max-height: 100vh;
  }
}

#book-title-section {
  font-family: "Times New Roman",Georgia,Serif;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#book-author-section {
  font-family: "Times New Roman",Georgia,Serif !important;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#description-section {
  text-align: justify;
}

@media screen and (max-width: 992px) {
  #history-section{
    font-size: 12px;
  }
}

.expand-description, .expand-history, .expand-comments {
  cursor: pointer;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px !important ;
  letter-spacing: 0 !important;
}

.special-text, #history-section, #comments-section {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
  &.-expanded {
    max-height: 100vh;
  }
}

#comments-section:not(.-expanded)::after, #history-section:not(.-expanded)::after, .special-text:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

@media screen and (max-width: 600px) {
  #history-section{
    font-size: 10px;
  }
}

.book-img-section {
  clear: both;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.index-img-section {
    width:80px;
    height: auto;
    clear: both;
    float: left;
    border: 1px solid #eee;
}

@media screen and (max-width: 3000px) {
  .book-img-section {
    width:360px;
    height: auto;
    clear: both;
    float: left;
  }
}

@media screen and (max-width: 1024px) {
  .book-img-section {
    width:350px;
    height: auto;
    clear: both;
    float: left;
  }
}
/* On screens that are 992px wide or less*/
@media screen and (max-width: 992px) {
  .book-img-section {
    margin: auto;
    width:250px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .book-img-section {
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .book-img-section {
    width: 100px;
    height: auto;
  }
}
